
body {
  background-color: #f8f7f2;
}

/*Very top of the page*/
h1 {
  color: #6d412a;
  text-align:center;
  font-family: 'fantasy', 'Papyrus';
}

/*Paragraphs*/
p, blockquote, dd {
  font-family:'Serif', 'Garamond';
  color:#6d412a;
}

/*Headings for subsections*/
h3, dt{
  color:#6d412a;
  font-family: 'fantasy', 'Papyrus';

}

ul {
  list-style-type: circle;
  margin: 35px;
  padding: 5px;
}

ol {
  list-style-type: upper-roman;
  margin: 35px;
  padding: 5px;
}

nav {
  background-color:#98a1a0;
  color:#f8f7f2;
  margin:10px;
  padding: 10px;
  font-family: 'fantasy', 'Papyrus';
}