
body {
  background-color: #f8f7f2;
}

/*Very top of the page*/
h1 {
  color: #6d412a;
  text-align:center;
  font-family: 'fantasy', 'Papyrus';
}

/*Paragraphs*/
p, blockquote {
  font-family:'Serif', 'Garamond';
  color:#6d412a;
}

/*Headings for subsections*/
h3 {
  color:#6d412a;
  font-family: 'fantasy', 'Papyrus';

}

ul {
  list-style-type: circle;
  margin: ;
  padding: 0;
}

ol {
  list-style-type: upper-roman;
  margin: 35px;
  padding: 5px;
}

dl{
  color:#6d412a;
}