
body {
  background-color: #f8f7f2;
}

h1 {
  color: #6d412a;
  text-align:center;
  font-family: "cursive";
  background-color: #5b696f;
}

p {
  font-family:'Courier New', Courier, monospace;
  color:#6d412a
}

h3 {
  color:#6d412a

}